/* General Styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

body {
    background-color: #f4f4f4;
}

/* Title Page Styles */
.title-page {
    background-color: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.title-page h1 {
    color: white;
    font-size: 5em;
    transition: opacity 1s ease, transform 1s ease;
}

/* Content Styles */
.content {
    display: none;
    height: 100vh;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h2 {
    color: black;
    font-size: 3em;
}
